.AccountPage
  %h2.AccountPage__title
    アカウントの作成
  .AccountPage__form
    = devise_error_messages!
    .FormField
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        .FormField__input
          %h3 ユーザー名
          = f.text_field :username, placeholder: "例)sample123", autofocus: true, class: "FormInput"
        .FormField__input
          %h3 メールアドレス
          = f.email_field :email, placeholder: "例)sample123@sample.com", autofocus: true, class: "FormInput"
        .FormField__input
          %h3 パスワード(英数字8文字以上)
          = f.password_field :password, placeholder: "英数字8文字以上", autocomplete: "off", class: "FormInput"
        .FormField__input
          %h3 確認用パスワード
          = f.password_field :password_confirmation, placeholder: "上記と同じパスワードを入力", autocomplete: "off", class: "FormInput"
        .FormField__input
          %h3= f.label :avater
          = f.file_field :avater, class: "hidden"
          = icon('fas', 'image', class: 'Form__icon, icon')
        .FormField__submit
          = f.submit "新規作成", class: 'btn'
