.AccountPage
  .AccountPage__title
    %h2 アカウントの編集
  .AccountPage__form
    .FormField
      = form_for(current_user) do |f|
        .FormField__input
          %h3 ユーザー名
          = f.text_field :username, autofocus: true, class: "FormInput"
        .FormField__input
          %h3 メールアドレス
          = f.email_field :email, class: "FormInput"
        .FormField__input
          %h3= f.label :avater
          = f.file_field :avater, class: "hidden"
          = icon('fas', 'image', class: 'Form__icon, icon')
        .FormField__submit
          = f.submit "更新", class: 'btn'