.AccountPage
  .AccountPage__title
    %h2 アカウントの編集
  .AccountPage__form
    = form_for(current_user) do |f|
      .FormField
        .FormField__label--normal
          = f.label :username
        .FormField__input--normal
          = f.text_field :username, autofocus: true
      .FormField
        .FormField__label--normal
          = f.label :email
        .FormField__input--normal
          = f.email_field :email
      = f.submit "更新", class: 'Button UserButton'