.mypage
  .contents
    .upside
      .profile
        .left-bar
          .user-icon
            - if @user.avatar.present?
              = image_tag @user.avatar.url, class: "image"
            - else 
              .image
        .right-bar
          .top-items
            .username
              ="#{@user.username}"
            .user-edit
              - if user_signed_in? && @user == current_user
                .edit-btn
                  = link_to "プロフィールを編集",edit_user_path(current_user)
                .edit-icon
                  = icon('fas', 'cog', class: 'icon')
              - else
                .DM-btn
                  -# -if (current_user.followed_by? @user) && (@user.followed_by? current_user)
                  - if @isRoom == true
                    = link_to "DMへ", room_path(@roomId), class: "btn"
                  - else
                    = form_for @room do |f|
                      = fields_for @entry do |entry|
                        = entry.hidden_field :user_id, value: @user.id
                      = f.submit "DMを始める", class: "btn"
                .DM-icon
                  = icon('fas', 'paper-plane', class: 'icon')

          .middle-items
            .post-count
              = "投稿 #{@posts.count}件"
            .follow
              - if user_signed_in? && @user != current_user
                - if current_user.following?(@user)
                  = render "unfollow"
                - else
                  = render "follow"
              - else
                = render "stats"
            
              
          .bottom-items
            .introduce
              = @user.introduction


    .contents
      %ul.menuBer
        %li#tab__post.menu_item.active
          投稿一覧
          %i{class: "fas fa-angle-double-down"}
        %li#tab__follow.menu_item
          フォロー
          %i{class: "fas fa-angle-double-down"}
        %li#tab__like.menu_item
          お気に入り一覧
          %i{class: "fas fa-angle-double-down"}

      %ul.menuContents
        %li#tab__post.content.show
          .post
            - if @posts.present?
              = render partial: '/posts/post_show_simple', locals: { post: @post}
            - else
              .contentInfo__none
                投稿はありません
        %li#tab__follow.content
          .followings
            フォロー中一覧
            %br
            - @user.followings.each do |user|
              = link_to "#{user.username}", user_path(user)
          .followers
            フォロワー一覧
            %br
            - @user.followers.each do |user|
              = link_to "#{user.username}", user_path(user)
        %li#tab__like.content
          -if @like.present? 
            - @like.each do |like|
              = like.post.text
          - else
            .contentInfo__none
              お気に入り登録している投稿はありません


              