= form_with model: @post, local: true do |f|
  .Post__form
    %ul
      %li.image
        写真を投稿する
        = f.label :image, class: 'Form__inputImage' do
          = icon('fas', 'image', class: 'Form__icon, icon')
          = f.file_field :image, class: 'hidden'
      %li.video
        動画を投稿する
        = f.label :video, class: 'Form__inputVideo' do
          = icon('fas', 'video', class: 'Form__icon, icon')
          = f.file_field :video, class: 'hidden'
      %li.text
        本文
        = f.text_area :text, placeholder: "text"
      %li.tag
        タグ
        = f.text_field :name, placeholder: "tag"
      %li.submit
        = f.submit "投稿"
