= form_with model: @post, local: true do |f|
  .post-area
    .post-area__form
    .image
    写真を投稿する
    = f.label :image, class: 'Form__inputImage' do
      = icon('fas', 'image', class: 'Form__icon, icon')
      = f.file_field :image, class: 'hidden'
    動画を投稿する
    = f.label :video, class: 'Form__inputVideo' do
      = icon('fas', 'video', class: 'Form__icon, icon')
      = f.file_field :video, class: 'hidden'
    = f.text_area :text, placeholder: "text"
    = f.hidden_field :user_id, :value => current_user.id
  = f.submit "投稿"
