.Post__form
  .FormField
    = form_with model: @post, local: true do |f|
      .FormField__input
        = f.label :image, class: 'Form__inputImage' do
          %h3 写真を選択
          = icon('fas', 'image', class: 'Form__icon, icon')
          = f.file_field :image, class: 'hidden'
      .FormField__input
        = f.label :video, class: 'Form__inputVideo' do
          %h3 動画を選択
          = icon('fas', 'video', class: 'Form__icon, icon')
          = f.file_field :video, class: 'hidden'
      .FormField__input
        %h3 本文
        %br
        = f.text_area :text, placeholder: "本文を入力してください", rows: 4, class: "form-input"
      .FormField__input
        %h3 タグ
        %br
        = f.text_field :name, placeholder: "スペースで複数タグ付けできます", class: "form-input"
      .FormField__input
        %h3 カテゴリー
        %br
        .category
          #partent_box
            = f.select :category_id, options_for_select( @category_parent_array.map{|c| [c[:name], c[:id]]}),{include_blank: "選択してください"}, { class: "parent_category_box", id: "parent_category"}
            = icon('fa', 'chevron-down')
          #children_box
            
          
      .FormField__submit
        = f.submit "投稿",class: "Button"
