- if user_signed_in?
  - if current_user.already_liked?(post)
    .icon-list
    = link_to post_like_path(id: post.id, post_id: post.id), method: :delete, id: "liked" do
      = icon('fas', 'heart', class: 'liked icon')
    = link_to post_path(post.id), method: :get do
      = icon('far', 'comment', class: 'comment icon')
  
  - else
    = link_to post_likes_path(id: post.id, post_id: post.id), method: :post, id: "yet-liked" do
      = icon('far', 'heart', class: 'yet-liked icon') 
    = icon('far', 'comment', class: 'comment icon')
