%ul.more-list
  %li.show
    = link_to "詳細", post_path(post.id), method: :get
  - if user_signed_in? && current_user.id == post.user_id
    %li.edit
      = link_to "編集", edit_post_path(post.id), method: :get
    %li.delete
      = link_to "削除", post_path(post.id), method: :delete
.post-box
  .post-inofo
    .post__user-name
      投稿者
      = post.user.username
    .post-date
      投稿日
      = post.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .post-text
    = post.text
  .post-image
    = image_tag post.image.url, class: 'Post__image' if post.image.present?
  .post-video
    = video_tag post.video.url, class: 'Post__video', controls: true, autoplay: true, loop: true, muted: true, width: "800", height: "auto"  if post.video.present?
  .post-like
    - if user_signed_in?
      - if current_user.already_liked?(post)
        = link_to post_like_path(id: post.id, post_id: post.id), method: :delete, id: "liked", remote: true do
          = icon('fas', 'heart', class: 'liked') 
        = post.likes.count
      - else
        = link_to post_likes_path(id: post.id, post_id: post.id), method: :post, id: "yet-liked", remote: true do
          = icon('fas', 'heart', class: 'yet-liked') 
        = post.likes.count
    - else 
      = icon('fas', 'heart', class: 'liked')
      = @post.likes.coun
  .liked-user
    いいねしたユーザー
    - post.liked_user.each do |user|
      .user.name
      = user.username