- @posts.each do |post|
  .post-box
    .post__user-name
      = link_to "投稿者:#{post.user.username}", user_path(post.user_id)
    .post-image
      = image_tag post.image.url, class: 'image' if post.image.present?
    .post-video
      = video_tag post.video.url, class: 'video', controls: true, muted: true if post.video.present?
    .post-date
      = "投稿日:#{post.created_at.strftime("%Y年%m月%d日 %H時%M分")}"
    .post-tag
    - post.tags.each do |tag|
      = icon('fas', 'tags', class: 'tag icon')
      = tag.name
    .post-text
      = post.text
    .like__count  
      = "いいね！ #{post.likes.count}件"