- @posts.each do |post|
  .post-box
    %ul.item-list
      %li.show
        = icon('fas', 'search-plus', class: 'show icon')
        = link_to "詳細", post_path(post.id), method: :get
      - if user_signed_in? && current_user.id == post.user_id
        %li.edit
          = icon('far', 'edit', class: 'edit icon')
          = link_to "編集", edit_post_path(post.id), method: :get
        %li.delete
          = icon('far', 'trash-alt', class: 'delite icon')
          = link_to "削除", post_path(post.id), method: :delete
    .post__user-name
      = link_to "投稿者:#{post.user.username}", user_path(post.user_id)
    .post-image
      = image_tag post.image.url, class: 'image' if post.image.present?
    .post-video
      = video_tag post.video.url, class: 'video', controls: true, muted: true if post.video.present?
    .post-date
      = "投稿日:#{post.created_at.strftime("%Y年%m月%d日 %H時%M分")}"
    .post-tag
    - post.tags.each do |tag|
      = icon('fas', 'tags', class: 'tag icon')
      = tag.name
    .post-text
      = post.text
    .post-like{id: "likes_buttons_#{post.id}"}
      = render partial: "likes/like", locals: {post: post}
    