- if user_signed_in? && current_user.id == @post.user_id
  .post-show
    .post-box
      %h2
        = "#{@post.user.username}さんの投稿一覧"
      %ul.item_list
        %li.edit
          = icon('far', 'edit', class: 'edit icon')
          = link_to "編集", edit_post_path(@post.id), method: :get
        %li.delete
          = icon('far', 'trash-alt', class: 'delite icon')
          = link_to "削除", post_path(@post.id), method: :delete

      .post__user-name 
        = "投稿者:#{@post.user.username}"
      .post-image
        = image_tag @post.image.url, class: 'image' if @post.image.present?
      .post-video
        = video_tag @post.video.url, class: 'video', controls: true, muted: true  if @post.video.present?
      .post-date
        = "投稿日:#{@post.created_at.strftime("%Y年%m月%d日 %H時%M分")}"
      .post-tag
        - @post.tags.each do |tag|
          = icon('fas', 'tags', class: 'tag icon')
          = tag.name
      .post-text
        = @post.text

    .like
      - if user_signed_in?
        - if current_user.already_liked?(@post)
          = link_to post_like_path(@post), method: :delete do
            = icon('fas', 'heart', class: 'liked icon') 
          = @post.likes.count
        - else
          = link_to post_likes_path(@post), method: :post do
            = icon('fas', 'heart', class: 'yet-liked icon') 
          = @post.likes.count
      - else 
        = icon('fas', 'heart', class: 'liked icon')
        = @post.likes.coun
      .liked-user
        %h3 いいねしたユーザー
        - @post.liked_user.each do |user|
          .user.name
          = user.username

    .comments
      .comments-form
        - if current_user
          = form_with model: [@post, @comment], local: true, id: "comment-form" do |form|
            = form.text_area :text, placeholder: "コメントする",rows: "2", class: "form-input"
            = form.submit "投稿", class: "button"

      .comments-lists
        - if @comments
          .comment-list
          %h3 コメント一覧
          - @comments.each do |comment|
            .comment-usrname 
            = link_to comment.user.username, "/users/#{comment.user_id}"
            .comment-text
            = comment.text
