- if user_signed_in? && current_user.id == @post.user_id
  = @post.user.username
  さんの投稿一覧
  %ul.more_list
    %li.edit
      = link_to "編集", edit_post_path(@post.id), method: :get
    %li.delete
      = link_to "削除", post_path(@post.id), method: :delete
.text
  = @post.text
.name
  = @post.user.username

.container
  - if current_user
    コメント
    = form_with(model: [@post, @comment], local: true) do |form|
      = form.text_area :text, placeholder: "コメントする"
      = form.submit "SEND"

.comments
  - if @comments
    コメント一覧
    = @comments.each do |comment|
      = link_to comment.user.username, "/users/#{comment.user_id}"
      = comment.text
