.post-show
  .post-box
    - if user_signed_in? && current_user.id == @post.user_id
      %ul.item_list
        %li.edit
          = icon('far', 'edit', class: 'edit icon')
          = link_to "編集", edit_post_path(@post.id), method: :get
        %li.delete
          = icon('far', 'trash-alt', class: 'delite icon')
          = link_to "削除", post_path(@post.id), method: :delete

    .post__user-name 
      = link_to "投稿者:#{@post.user.username}", user_path(@post.user_id)

    .post-image
      = image_tag @post.image.url, class: 'image' if @post.image.present?
    .post-video
      = video_tag @post.video.url, class: 'video', controls: true, muted: true  if @post.video.present?
    .post-date
      = "投稿日:#{@post.created_at.strftime("%Y年%m月%d日 %H時%M分")}"
    .post-tag
      - @post.tags.each do |tag|
        = icon('fas', 'tags', class: 'tag icon')
        = tag.name
    .post-text
      = @post.text

    .like
      = render partial: "likes/like", locals: {post: @post}

    .comments
      .comments-form
        - if current_user
          = form_with model: [@post, @comment], local: true do |form|
            = form.text_area :text, placeholder: "コメントする",rows: "2", class: "form-input"
            %br
            = form.submit "コメント投稿", class: "btn"

      .comments-lists
        - if @comments.presence
          .comment-list
          %h3 コメント一覧
          - @comments.each do |comment|
            .comment-usrname 
            = link_to comment.user.username, "/users/#{comment.user_id}"
            .comment-text
            = comment.text
