.header
  .title
    .title-name
      = link_to "BACKPACKERS", "/"
    .title-icon
  - if user_signed_in?
    .header-menu
      %ul
        %li
          .user-name
            = link_to "user: #{current_user.username}", "/users/#{current_user.id}"
        %li
          = link_to "ログアウト", destroy_user_session_path, method: :get
        %li
          = link_to "ユーザー情報変更",edit_user_path(current_user)
        %li
          = link_to "新規投稿", new_post_path, class: "post"
  - else
    .header-menu
      %ul
        %li
          = link_to "ログイン", new_user_session_path, class: "post"
        %li
          = link_to "新規登録", new_user_registration_path, class: "post"
